{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Votre panier</h1>
        {% if cart.items.count > 0 %}
            <div class="row mt-4">
                <!-- List of items -->
                <div class="col-md-8"></div>
                <!-- Summary -->
                <div class="col-md-4"></div>
            </div>
        {% else %}
            <div class="alert alert-info">
                Votre panier est vide. Rendez vous à la <a href="{{ path('accueil') }}">liste de produit</a>.
            </div>
        {% endif %}
    </div>

    <div class="col-md-8">
        {{ form_start(form) }}
        <div class="card">
            <div class="card-header bg-dark text-white d-flex">
                <h5>idProduit</h5>
                <div class="ml-auto">
                    {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-warning'}}) }}
                    {{ form_widget(form.vider, {'attr': {'class': 'btn btn-light'}}) }}
                </div>
            </div>
            <ul class="list-group list-group-flush">
                {% for item in form.items %}
                    <li class="list-group-produit d-flex">
                        <div class="flex-fill mr-2">
                            <img src="https://via.placeholder.com/200x150" width="64" alt="Product image">
                        </div>
                        <div class="flex-fill mr-2">
                            <h5 class="mt-0 mb-0 card-title">{{ item.vars.data.produit.nom }}</h5>
                            <small>desc test</small>
                            <div class="form-inline mt-2">
                                <div class="form-group mb-0 mr-2">
                                    {{ form_widget(item.quantite, {
                                        'attr': {
                                            'class': 'form-control form-control-sm ' ~ (item.quantite.vars.valid ? '' : 'is-invalid')
                                        }
                                    }) }}
                                    <div class="invalid-feedback">
                                        {{ form_errors(item.quantite) }}
                                    </div>
                                </div>
                                {{ form_widget(item.supprimer, {'attr': {'class': 'btn btn-dark btn-sm'}}) }}
                            </div>
                        </div>
                        <div class="flex-fill mr-2 text-right">
                            <b class="card-price">{{ item.vars.data.produit.prixHT }} €</b>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>

    <div class="col-md-4">
        <div class="card mt-4 mt-md-0">
            <h5 class="card-header bg-dark text-white">Résumé</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                    <div><b>Total</b></div>
                    <span><b>{{ cart.total }} €</b></span>
                </li>
            </ul>
            <div class="card-body">
                <a href="{{ path('commande') }}" class="btn btn-warning w-100">Commander</a>
            </div>
        </div>
    </div>
{% endblock %}
