{% extends 'base.html.twig' %}

{% block title %}{{ product.nom }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="prod-bod row mt-3 mb-4">
            <div class="product-col col-md-4">
                <div class="photoCase">
                 <img src="{{ product.photo }}" alt="{{ product.nom }}" class="img-fluid product-img">
                </div>
            </div>


            <div class="col-md-8">
                <h1 class="mt-4 mt-md-0">{{ product.nom }}</h1>
                <h3>PrixHT</h3>
                <h2>{{ product.prixht }} €</h2>
                <hr>
                {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
                <div class="form-group">
                    {{ form_label(form.quantite) }}
                    {{ form_widget(form.quantite, {
                        'attr': {
                            'class': 'form-control ' ~ (form.quantite.vars.valid ? '' : 'is-invalid')
                        }
                    }) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.quantite) }}
                    </div>
                </div>
                {{ form_widget(form.add, {'attr': {'class': 'btn btn-warning w-25'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
