<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link rel="stylesheet" href={{ asset('Views/test.css') }}>
        {% endblock %}

    </head>
    <header>
        {% block header %}
            <div class="header">
                <div class="login">
                    <a href="{{ path('app_login') }}">Connexion</a>
                </div>
                <div class="headerwrap">
                    <a style="none;" href="{{ path('accueil') }}">
                        <h1 class="main-title centered">Fast Sushi</h1>
                    </a>

                    <div class="logo">
                        <a href="{{ path('panier') }}">
                           <img id="shoppingCart" src={{ asset('images/shopping-cart.png') }} width='35' heigth="35">
                        </a>
                    </div>
                </div>
            </div>

            <nav class="menu">
                <div class="categories">Entrées</div>
                <div class="categories">Plats</div>
                <div class="categories">Desserts</div>
            </nav>
        {% endblock %}
    </header>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
