{# templates/home.html.twig #}

{% extends 'base.html.twig' %}

    {% block body %}

        <div class="featuredProducts">
            <h2>Produits phares</h2>
            <div class="productsDisp">
                {% for product in products %}
                    <div class="productWrap col-md-4">
                        <a href="{{ path('produit.detail', {id: product.idProduit}) }}" class="btn btn-dark productLink">
                            <div class="card mb-4">
                                <img src="{{ product.photo }}" alt="{{ product.nom }}" class="card-img-top" width="200px">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.nom }}</h5>

                                    <div class="d-flex justify-content-between align-item-center">

                                        <span class="h5 mt-auto">{{ product.prixht }} €</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>


                {% endfor %}

            </div>

        </div>

        <div class="showcase">
            <h2>Découvrez les délices de la cuisine japonaise</h2>
            <div class="photoSC">
                <div class="photoBcase">
                    <div class="photoCase">
                        <img src="images/sushi1.jpg" width="100" height="100" class="footer-image">
                    </div>

                </div>
                <div class="photoAcase">
                    <div class="fline" style="margin-bottom: 4%;">
                        <div class="photoCcase">
                            <div class="photoCase">
                                <img src="images/sushi2.jpg" width="100" height="100" class="footer-image">
                            </div>
                        </div>
                        <div class="photoCcase">
                            <div class="photoCase">
                                <img src="images/sushi3.jpg" style="margin-left: 5%;" width="100" height="100" class="footer-image">
                            </div>
                        </div>
                    </div>

                    <div class="fline">
                        <div class="photoCcase">
                            <div class="photoCase">
                                <img src="images/standard (2).jpg" width="100" height="100" class="footer-image">
                            </div>
                        </div>
                        <div class="photoCcase">
                            <div class="photoCase">
                                <img src="images/standard (4).jpg"  style="margin-left: 5%;" width="100" height="100" class="footer-image">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="photoBcase">
                    <div class="photoCase">
                        <img src="images/standard (3).jpg" width="100" height="100" class="footer-image">
                    </div>

                </div>
            </div>
        </div>
    {% endblock %}
